body{
    margin: 0 auto;
    background-image:url(https://images.pexels.com/photos/9754/mountains-clouds-forest-fog.jpg?cs=srgb&dl=pexels-creative-vix-9754.jpg&fm=jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
.Main{
    height: 100%;
    width:100%;
    padding-top:4em;
}
.nav{
    width:100%;
    height:4em;
    background-color: #f8f4f4;
    display: flex;
    position:fixed;
    border: 1px solid black;
    margin-top:-4em;
    justify-content: space-between;
    z-index: 1000;
}

.navimage{
    width: 7em;
    height: 4em;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtVfwkQC0_6uiz64ucGaZg4Z6_mM-NbQzsPw&s);
    background-size:contain;
    background-repeat: no-repeat;
    flex-shrink: 0;

}

.navquote{
    display:flex;
    align-items: center;
    font-family: "Yellowtail", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8em;
}


.navlist{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width:auto;
}

.navitem{
    list-style-type: none;
    padding-top: 0.5em;
    width: 128px;
    height: 40px;
    text-align: center;
    margin: 0 1.5px;
    border: 2px solid black;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
    cursor: pointer;
}

.navitem:hover{
    background-color: rgba(0, 0, 0, 0.7);
    color:whitesmoke;
    height: 40px;
    border:2px solid whitesmoke
}

.EventDiv{
    height:44rem;
    width: 100%;
    overflow: auto;
    box-sizing:border-box;
    justify-content: space-evenly;
    display: flex;
    flex-wrap:wrap;
    gap: 3.4rem;
}

.card{
    height: 20rem;
    width: 17rem;
    /* border: 2px solid black; */
    background-color: #f8f4f4;
    border-radius:10px;
    transition: transform 0.3s ease;
    margin-top:1em;
}

.card:hover{
    box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.3), 0px 0px 5px rgba(255, 255, 255, 0.2);
    transform: scale(1.05);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.card-image1{
    background-image: url(https://assets.vogue.in/photos/66e40db0b4d351b26c9c1390/1:1/w_2667,h_2667,c_limit/GettyImages-1484340653.jpg);
    height:14.5rem;
    width:17rem;
    border-top-left-radius:7px;
    border-top-right-radius:7px;
    background-size:cover;
}
.card-image2{
    background-image: url(https://nedxstgaprodfiles.blob.core.windows.net/image/neste_coldplay_collaboration_release_photo._photo_courtesy_of_coldplay_2.jpg);
    height:14.5rem;
    width:17rem;
    border-top-left-radius:7px;
    border-top-right-radius:7px;
    background-size:cover;
}
.card-image3{
    background-image: url(https://i.pinimg.com/736x/bf/57/ec/bf57ec4ce28ce03c07ca647f2bd4113a.jpg);
    height:14.5rem;
    width:17rem;
    border-top-left-radius:7px;
    border-top-right-radius:7px;
    background-size:cover;
}
.card-image4{
    background-image: url(https://cms-article.forbesindia.com/media/digital-stars/Abhishek_Upmanyu_H.webp);
    height:14.5rem;
    width:17rem;
    border-top-left-radius:7px;
    border-top-right-radius:7px;
    background-size:cover;
}
.card-image5{
    background-image: url(https://yt3.googleusercontent.com/XVVi44_WFTkdPXYorOffTEJ51xPacaBdx_-peDEao52ZHF8DdfuJz76IZLQI3hNwulwnHrBHIQ=s900-c-k-c0x00ffffff-no-rj);
    height:14.5rem;
    width:17rem;
    border-top-left-radius:7px;
    border-top-right-radius:7px;
    background-size:cover;
}
.card-image6{
    background-image: url(https://static.india.com/wp-content/uploads/2023/01/Anubhav-Singh-Bassi.jpg);
    height:14.5rem;
    width:17rem;
    border-top-left-radius:7px;
    border-top-right-radius:7px;
    background-size:cover;
}

.card-content{
    height:5.5rem;
    width:17rem;
    box-sizing: border-box;
}

.card-content-style{
    margin: 3.8px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:15px;
}

.search-bar {
    margin-top:1em;
    text-align: center;
}

.search-bar input {
    width: 50%;
    padding: 0.5em;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.menu-icon {
    display: none; /* Initially hidden, will be shown via media query */
    flex-direction: column;
    width: 30px;
    height: 20px;
    justify-content: space-between;
    cursor: pointer;
    margin-right:10px;
  }
  
  /* Individual bars of the menu icon */
  .menu-icon div {
    width: 100%;
    height: 4px;
    background-color: black;
    transition: 0.3s;
  }

@media (max-width: 1025px) {

    .menu-icon {
        display: flex;
      }
    .nav{
        flex-direction: row;
        align-items: center;
    }

    .navitem{
        display:none;
    }

    .navquote{
        display:none;
    }
    .search-bar{
        margin-top:50px;
    }

    .EventDiv{
        flex-direction: row;
        height:76rem;
    }
}



.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.modal-content {
    background-color: #f8f4f4;
    padding: 22.5px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    text-align: center;
    position: relative;
}

.close {
    position: absolute;
    top: 2px;
    right: 8px;
    font-size: 24px;
    cursor: pointer;
}
